@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --circle-color: #dfe4eb;
}
* {
  font-family: "Poppins", sans-serif;
}

.lds-dual-ring {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "pokeHollow";
  src: url("../fonts/Pokemon\ Hollow.ttf") format("woff"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../fonts/Pokemon\ Hollow.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "pokeSolid";
  src: url("../fonts/Pokemon\ Solid.ttf") format("woff"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../fonts/Pokemon\ Solid.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.pokehollow {
  font-family: pokeHollow;
}

.pokesolid {
  font-family: pokeSolid;
}

.triangleDivider1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.triangleDivider1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 79px;
}

.triangleDivider2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.triangleDivider2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.triangleDivider1 .shape-fill {
  fill: #0f172a;
}

.triangleDivider1 .shape-fill2 {
  fill: #f1f5f9;
}

.triangleDivider2 .shape-fill3 {
  fill: #171717;
}

.anim {
  scale: 1;
}

@media screen and (max-width: 1200px) {
  .anim {
    scale: 0.8;
    transform: translate(-20px);
  }
}

.anim:hover .ball {
  animation-name: rollingBall;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.anim:hover .txt {
  animation-name: moveTxt;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.anim .ball {
  animation-name: rollingBallR;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.anim .txt {
  animation-name: moveTxtR;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes rollingBall {
  from {
    transform: translateX(0) rotate(0deg);
  }
  to {
    transform: translateX(-60px) rotate(-360deg);
  }
}

@keyframes moveTxt {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(60px);
  }
}

@keyframes rollingBallR {
  from {
    transform: translateX(-60px) rotate(-360deg);
  }
  to {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes moveTxtR {
  from {
    transform: translateX(60px);
  }
  to {
    transform: translateX(0);
  }
}

.nv span {
  position: relative;
}

.nv span:hover {
  color: rgba(255, 255, 255, 0.8);
}

.nv span:hover::after {
  background-color: rgba(255, 255, 255, 0.8);
}

.nv span::after {
  content: "";
  position: absolute;
  top: 3.1rem;
  left: 0px;
  background-color: #fff;
  height: 4px;
  width: 100%;
}

.blaaack {
  background-color: black !important;
}

.animnav {
  animation-name: animnav;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes animnav {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

.animnav2 {
  animation-name: animnav2;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes animnav2 {
  from {
    transform: translate(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.devcard1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--circle-color);
  opacity: 0.3;
  clip-path: circle(50px at 0 100px);
}

.devcard2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--circle-color);
  opacity: 0.3;
  clip-path: circle(100px at 100% 300px);
}

.devcard3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--circle-color);
  opacity: 0.3;
  clip-path: circle(20px at 60% 200px);
}

.devcard4 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--circle-color);
  opacity: 0.3;
  clip-path: circle(70px at 10% 400px);
}

.devcard5 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--circle-color);
  opacity: 0.3;
  clip-path: circle(70px at 100% 0);
}
