.banner {
  background: url("../images/wp2.jpg");
  background-color: rgba(255, 136, 0, 0.5);
  background-blend-mode: multiply;
  height: 100vh;
  object-fit: cover;
  transform: translateY();
}

.bannerbg {
  background: linear-gradient(to right, #0f172a, #0f172ae8 50%, #172e6800 100%);
  height: 100vh;
}

/* .banner h1 {
  color: #ffcb08;
  -webkit-text-fill-color: #ffcb08;
  -webkit-text-stroke-width: 7px;
  -webkit-text-stroke-color: #004a94;
  font-size: 120px;
} */

.banner h1 {
  font-size: clamp(60px, 5vw, 86px);
  font-weight: 600;
}
.banner h3 {
  font-size: clamp(16px, 1.3vw, 21px);
  padding-top: 20px;
  font-weight: lighter;
}
